@import "tailwindcss";

@config '../../tailwind.config.ts';

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: hsl(var(--border));
	}
}

/*
  Theme variables
*/
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 20% 98%;
		--ring: 224 71.4% 4.1%;
		--chart-1: 20.5 90.2% 48.2%;
		--chart-2: 174.7 83.9% 31.6%;
		--chart-3: 200.4 98% 39.4%;
		--chart-4: 262.1 83.3% 57.8%;
		--chart-5: 333.3 71.4% 50.6%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply bg-gray-100 text-foreground;
		/* font-family: "Fira Sans", serif; */
		font-family: "Inter", sans-serif;
		font-weight: 400;
	}
}
