@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Open Sans;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-200;
}

.bg-custom-background {
  background-image: url("/src/assets/bgemail.png");
  background-size: cover;
  background-position: center;
}

.sidebar {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 45px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #0a2640 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 45px;
  position: absolute;
  width: 400px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      #0a2640 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 45px;
    position: absolute;
    width: 250px;
    z-index: 2;
  }
}

/* Smartphone */
@media screen and (max-width: 480px) {
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      #0a2640 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 45px;
    position: absolute;
    width: 100px;
    z-index: 2;
  }
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}
